.icon-social-twitter {
 background-image: url('../img/twitter.svg');
}
.icon-social-facebook {
 background-image: url('../img/facebook.svg');
}
.icon-social-googleplus {
 background-image: url('../img/googleplus.svg');
}
